{% load static %}
<div class='carousel-item active'>
<h1>Welcome</h1>



<p>Bravitzlana is for making small interactive scenes that you can share with people.</p>



<p>You can move with WASD. Jump with space. Right click and drag to turn the camera. Left click on things to interact with them.</p>



</div><div class='carousel-item'>


<h1>Creating</h1>



<p>Let's make a world! Press "e" to bring up the edit menu.</p>



<p>On top is a list of all the things in this world, including blocks and sprites.

<img src="static/img/tutorial/edit-mode-buttons.png" alt="Image explaining the top and bottom rows of buttons in edit mode" title="" />

On the bottom is a row of icons which will open the different menus in edit mode.</p>



<p>You can press "e" or "escape" to exit edit mode.</p>



</div><div class='carousel-item'>


<h1>Placing objects</h1>



<p>Our world is looking pretty drab... Let's decorate it a little bit!

Enter build mode by clicking on this icon:

<img src="static/img/tutorial/build-button.png" alt="Build mode icon" title="" /></p>



<p>Then place some flowers by clicking on them in the top row and then left clicking in the world.

<img src="static/img/tutorial/build-mode-place.png" alt="Instructions for adding an item" title="" /></p>



<p>You can also place more grass blocks to give yourself more space, or add more Sad Sacks or characters to make it less lonely.

If you make a mistake, you can delete placed objects by right clicking on them.</p>



</div><div class='carousel-item'>


<h1>Editing textures</h1>



<p>Our friend here is looking pretty sad. Let's turn his frown upside down!

Click on the "Edit Objects" icon to open the object editing menu.

<img src="static/img/tutorial/edit-icon.png" alt="Edit Objects icon" title="" />

In this menu we can change the properties of objects: for instance, their

textures, sounds, and name.

We want to change our buddy Sad Sack. Find "Sad Sack" in the list of icons and put him into the selector.

<img src="static/img/tutorial/place-sad-sack.png" alt="Thing selector panel" title="" /></p>



</div><div class='carousel-item'>


<h1>Editing textures</h1>



<p>Now, click on the sprite edit window.

<img src="static/img/tutorial/sprite-edit-window.png" alt="Sprite edit window" title="" /></p>



</div><div class='carousel-item'>


<h1>Editing textures</h1>



<p>On this screen we can change an object's graphics.

<img src="static/img/tutorial/edit-sprite-overview.png" alt="Overview of the sprite editing window" title="" />

Erase his frown by right clicking and dragging on the frown, or by selecting the "eraser" tool and left clicking.

Then select a color and draw him a nice smile.</p>



</div><div class='carousel-item'>


<h1>Editing Sounds</h1>



<p>Let's get out of edit mode. Press "e" or "escape" or this icon:

<img src="static/img/tutorial/exit-edit-mode-button.png" alt="How to exit edit mode" title="" />

Have a nice walk around your area. Enjoy what you've done so far. Click around on things and see if anything happens.</p>



</div><div class='carousel-item'>


<h1>Editing Sounds</h1>



<p>We have a small problem... Our flowers burp when you click on them! We want them to make a nicer sound.

Open the object editing panel, start editing the flower, and then click on the "edit audio" button.

<img src="static/img/tutorial/edit-audio-button.png" alt="The button that opens the &quot;edit audio&quot; screen" title="" /></p>



</div><div class='carousel-item'>


<h1>Edit Sounds</h1>



<p>The audio editor works just like the sprite editor, but you paint sounds instead of colors.

The sound is generated by looking at the image from left to right. Different colors represent the

different samples, and their height in the image controls the sample's pitch. Play around with

the sfx editor and make a nicer sound for the flowers.

<img src="static/img/tutorial/audio-editor-overview.png" alt="Overview of the audio editor" title="" /></p>



</div><div class='carousel-item'>


<h1>Editing Interactions</h1>



<p>Now our flowers are nice enough to give as gifts. Let's make it so we can give our flowers to Sad Sack.

Go into edit mode and open the "Edit Interactions" menu.

<img src="static/img/tutorial/interaction-mode-button.png" alt="The button to enter &quot;Edit Interactions&quot; mode" title="" /></p>



</div><div class='carousel-item'>


<h1>Editing Interactions</h1>



<p>On this screen we can edit all the interactions that happen when you click on things while the game is running.

Flowers already have an interaction that happens when you click on them, so let's find it. Put the flower object

into the "search" bar. That will bring up the interactions involving flowers.

<img src="static/img/tutorial/interaction-mode-search.png" alt="How to search for things on the &quot;Edit Interactions&quot; screen" title="" /></p>



</div><div class='carousel-item'>


<h1>Editing Interactions</h1>



<p>Interactions define what happens when you click on something. Which interaction is triggered depends on 

what you clicked on, and what you were holding when you did. As a result, the thing you clicked on and

what you're holding can change into any other object, be deleted, or stay the same.

<img src="static/img/tutorial/edit-interaction-overview.png" alt="How interactions fit together" title="" /></p>



</div><div class='carousel-item'>


<h1>Editing Interactions</h1>



<p>To make it so we can give Sad Sack our flower, we first need to be able to pick it up. Let's edit the interaction

that lets us smell the flowers:

Right click on the objects in the interaction panel to remove them.

<img src="static/img/tutorial/flower-interaction-before.png" alt="The initial flower interaction" title="" />

And make it so instead we pick them up:

<img src="static/img/tutorial/flower-interaction-after.png" alt="What we want to make the flower interaction look like." title="" />

This interaction means, "When I click on a flower while holding nothing, take a flower and replace it with nothing."</p>



</div><div class='carousel-item'>


<h1>Editing Interactions</h1>



<p>Now when we click on a flower, instead of smelling it, we'll pick it up.

We need an interaction that allows us to give the flower to Sad Sack. Let's make a new interaction

<img src="static/img/tutorial/add-interaction-button.png" alt="Add interaction button" title="" />

and let's make that interaction look like this:

<img src="static/img/tutorial/sad-sack-interaction.png" alt="Add interaction button" title="" />

This means, "when I click on Sad Sack while holding a flower, remove my flower and say 'Thank you!'"</p>



</div><div class='carousel-item'>


<h1>Uploading</h1>



<p>And now we've made something really nice! Let's share it with the world.

Press the upload button to get to the upload screen.

<img src="static/img/tutorial/upload-button.png" alt="The upload panel button" title="" />

Give your game a title and a description then press the "Upload Level" button to upload it.

A link will appear to your published game.</p>



</div><div class='carousel-item'>


<h1>The End</h1>



<p>And now you know the basics of using Bravitzlana! I hope you have fun with it and make lots of neat little worlds.

There are a few more buttons and features you'll need to play with

to find out how they work, but this should be enough to make some pretty cool stuff. Please let me know what you think by sending me a message on Twitter <a href="http://www.twitter.com/marekkapolka">@mkapolka</a>, or an email at <a href="mailto:marek.kapolka@gmail.com">marek.kapolka@gmail.com</a></p>



<p>To start making a fresh new game, go to bravitzlana.com/new</p>



<p>Bye now!</p>

