{% load static %}
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{name}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/play.css' %}"/>
  </head>
  <body>
    <div class="player-container" id="player-container">
      <h1>{{name}}</h1>
      <!--<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="600px"></canvas>-->
      {% if description %}
        <div class="description"> {{description}} </div>
      {% endif %}
      <div id="upload-container"><h2>Game uploaded to: <a href="" id="upload-link"></h2></a></div>
      <div id="mouse-catcher">
        <div id="styled-game-container">
          <div id="gameContainer"></div>
        </div>
        <div id="instructions">wasd or arrows to move, right click & drag to rotate camera, click to interact</div>
      </div>
    </div>
    <script type='text/javascript'>
  /*var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    backgroundColor: "#222C36",
    splashStyle: "Light",
    dataUrl: "{% static 'Release/br_web.data' %}",
    codeUrl: "{% static 'Release/br_web.js' %}",
    asmUrl: "{% static 'Release/br_web.asm.js' %}",
    memUrl: "{% static 'Release/br_web.mem' %}",
  };*/
</script>
<script src="/static/Build/UnityLoader.js"></script>
<script>
  var gameInstance = UnityLoader.instantiate("gameContainer", "/static/Build/br_web.json");
</script>
<!--<script src={% static "Release/UnityLoader.js" %}></script>--!>
<script type="text/javascript">
document.getElementById("mouse-catcher").addEventListener('mousedown', function (event) {
  var canvas = document.getElementById("#canvas");
  if (event.which == 3 && event.target != canvas) {
    event.stopPropagation();
    var newEvent = new MouseEvent(event.type, event);
    canvas.dispatchEvent(newEvent);
  }
});
document.getElementById("mouse-catcher").addEventListener('contextmenu', event => event.preventDefault());

function onWebLoaderReady() {
  {% if uuid_override %}
    gameInstance.SendMessage("WebLoader", "LoadSaveFileByUUIDWithOverride", "{{ uuid }}/{{ uuid_override }}");
  {% else %}
    gameInstance.SendMessage("WebLoader", "LoadSaveFileByUUID", "{{ uuid }}");
  {% endif %}
}

function Flush() {
  FS.syncfs(false, function(err){console.log(err)});
}

function onUpload(url) {
  document.getElementById("upload-link").setAttribute("href", url);
  document.getElementById("upload-link").innerText = url;
  document.getElementById("upload-container").style.display = "inline-block";
}
</script>

  </body>
</html>
