@font-face {
  font-family: 'Parvas';
  src: url('../font/Parvas.ttf');
}

body {
  background-image: url('../img/bg.png');
  background-repeat: repeat;
  font-family: 'Parvas';
}

div.player-container {
  display: block;
  margin: auto;
  width: 600px;
}

canvas {
  display: block;
  margin: auto;
}

h1 {
  display: inline-block;
  padding: 10px;
  color: #111;
  text-align: center;
  background: #fffde1;
  border: 3px solid #bdfdd6;
  border-radius: 3px;
}

div {
  color: #111;
  text-align: center;
}

div#gameContainer {
  width: 600px;
  height: 600px;
  margin: auto;
  display: block;
}

div#styled-game-container {
  width: 600px;
  height: 600px;
  display: block;
  border: 5px solid #5ceb94;
  border-radius: 5px;
}

div#upload-container {
  display: none;
  width: 600px;
  margin: 5px 0;
  background: #eccbfa;
  border: 5px solid #d790f5;
  border-radius: 5px;
}

div.description {
  display: inline-block;
  background: #fffde1;
  border: 3px solid #bdfdd6;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  width: 500px;
}
